<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<body>
    <nav th:fragment="menu" class="main-navigation">
        <ul>
            <li><a href="#">Điện thoại, Tablet</a></li>
            <li><a href="#">Laptop</a></li>
            <li><a href="#">Âm thanh, Mic thu âm</a></li>
            <li><a href="#">Đồng hồ, Camera</a></li>
            <li><a href="#">Đồ gia dụng, Làm đẹp</a></li>
            <li><a href="#">Phụ kiện</a></li>
            <li><a href="#">PC, Màn hình, Máy in</a></li>
            <li><a href="#">Tivi, Điện máy</a></li>
            <li><a href="#">Thu cũ đổi mới</a></li>
            <li><a href="#">Hàng cũ</a></li>
            <li><a href="#">Khuyến mãi</a></li>
            <li><a href="#">Tin công nghệ</a></li>
        </ul>
    </nav>
</body>
</html>
