<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<body>
    <div th:fragment="content">
        <!-- Khu vực Banner chính (cần JavaScript để làm carousel) -->
        <div class="main-banner-carousel">
            <div class="banner-item">
                <img src="/images/banners/macbook-neo.png" alt="Macbook Neo">
            </div>
            <div class="banner-item">
                <img src="/images/banners/galaxy-s26.png" alt="Galaxy S26 Ultra">
            </div>
            <div class="banner-item">
                <img src="/images/banners/iphone-17e.png" alt="iPhone 17e">
            </div>
            <!-- Thêm các banner khác ở đây -->
        </div>

        <!-- Tiện ích truy cập nhanh -->
        <div class="quick-utilities">
            <a href="#" class="util-button">Deal sốc đến 50%</a>
            <a href="#" class="util-button">Tuần lễ thương hiệu</a>
            <a href="#" class="util-button">Ưu đãi cho giáo dục</a>
            <a href="#" class="util-button">Thu cũ đổi mới giá hời</a>
            <a href="#" class="util-button">Khách hàng doanh nghiệp</a>
            <a href="#" class="util-button">Ưu đãi Smember</a>
        </div>

        <!-- Chương trình đặc quyền -->
        <div class="special-privileges">
            <div class="privilege-block">
                <h3>Deal hot học sinh sinh viên</h3>
                <p>Laptop ưu đãi khủng</p>
            </div>
            <div class="privilege-block">
                <h3>Trợ giá thu cũ lên đời</h3>
            </div>
            <div class="privilege-block">
                <h3>Đăng ký S-Business</h3>
                <p>Ưu đãi cho khách hàng B2B</p>
            </div>
        </div>
    </div>
</body>
</html>
